---
title: About
layout: default
---

<div class="container -spaced -alternate2">
  <div class="recipe__title">
    <h1>Hello</h1>
    <p class="lede">
      My name is Muhammad Vaid. I'm a data engineer based in Durban, South Africa.
    </p>
    <p>
      I'm also a machine learning &amp; python enthusiast with a deep-seated passion for tech. Can often be found tinkering with electronics or pasting Stack Overflow snippets over the weekend.
    </p>
  </div>
  <div></div>
</div>

<div class="container recipe">
  <div class="">
  </div>
  <div class="recipe__title">
    <h2>Work</h2>

    {% include resumeitem.html
      date = "2020&mdash;Now"
      role = "Data Engineer"
      employer = "<a href='https://www.ikhokha.com'>iKhokha</a>"
    description = "<p>Data engineer responsible for building, modernizing &amp; maintaining data processes at one of South Africa's fastest growing FinTech companies.
    <ul>
      <li>Built &amp; maintained scalable data pipelines &amp; flows</li>
      <li>Maintained the company's <a href='https://www.analytics.today/blog/what-is-snowflake-datawarehouse'>Snowflake</a> data  warehouse</li>
      <li>Leveraged <a href='https://aws.amazon.com/what-is-cloud-computing'>AWS Cloud Computing</a> together with Python to automate data processes</li>
      <li>Developed internal applications &amp; tools for various teams &amp; individuals in the company</li>
      <li>Delivered key insights and analytics through <a href='https://www.tableau.com/why-tableau/what-is-tableau'>Tableau</a> dashboards</li>
    </ul>"
    %}
    <!-- {% include resumeitem.html
    %} -->
  </div>
</div>
<div class="container recipe">
  <div class=" ">

  </div>
  <div class="recipe__title">
    <h2>Education</h2>

    {% include resumeitem.html
      date = "2002&mdash;2004"
      role = "Master of Science in Engineering (MSc. Eng), Artificial Intelligence & Computer Vision (Ongoing Part-Time)"
      employer = "<a href='https://www.ukzn.ac.za/'>University of KwaZulu-Natal</a>"
      description = "Durban, South Africa"
      <!-- document = "<a href=''>Transcript</a>" -->
    %}
    {% include resumeitem.html
      date = "2014&mdash;2017"
      role = "Bachelor of Science in Engineering (BSc. Eng),Computer Engineering"
      employer = "<a href='https://www.ukzn.ac.za/'>University of KwaZulu-Natal</a>"
      description = "Durban, South Africa"
      <!-- document = "<a href=''>Transcript</a>" -->
    %}
  </div>
</div>
