---
title: About
layout: default
---

<div class="container -spaced -alternate2">
  <div class="recipe__title">
    <h1>Hello</h1>
    <p class="lede">
      My name is Dave Lim. I'm a he/him digital product designer living in Melbourne, Australia.
    </p>
    <p>
      I'm also a graphic designer, ex-coder and serial dabbler in illustration, type, lettering, crochet &amp; sewing. Part time sourdough tragic and indoor plant parent.
    </p>
  </div>
  <div></div>
</div>

<div class="container recipe">
  <div class="">
  </div>
  <div class="recipe__title">
    <h2>Work</h2>

    {% include resumeitem.html
      date = "2014&mdash;Now"
      role = "Lead Product Designer (IC)"
      employer = "<a href='https://www.cultureamp.com'>Culture Amp</a>"
    description = "<p>Product design across the Culture Amp product suite. Practice process, craft mentorship &amp; <a href='https://cultureamp.design/'>design system</a> super advocate. Major product areas include:</p>
    <ul>
      <li>Survey configuration, report sharing &amp; data visualisation</li>
      <li>360° feedback</li>
      <li>Action planning &amp; behavior change</li>
      <li>Manager learning &amp; skills development</li>
    </ul>"
    %}
    {% include resumeitem.html
      date = "2013&mdash;2014"
      role = "Senior Experience Designer"
      employer = "<a href='http://symplicit.com.au'>Symplicit</a>"
      description = "<p>User experience consulting and design services for clients including Telstra, Officeworks, Suncorp, Heart Foundation, Beyond Blue &amp; BP.</p>
      <ul>
        <li>UX design, research &amp; testing</li>
        <li>Visual design &amp; illustration</<li>
        <li>Web and user interface design</li>
        <li>Front-end development</li>
      </ul>"
    %}
    {% include resumeitem.html
      date = "2011&mdash;Now"
      role = "Designer"
      employer = "Freelance"
      description = "
      <ul>
        <li>Identity design, graphic design, typesetting &amp; illustration</<li>
        <li>Web and user interface design</li>
        <li>Front-end development</li>
      </ul>"
    %}
    {% include resumeitem.html
      date = "2012&mdash;2013"
      role = "Web App &amp; UI Team Lead"
      employer = "<a href='https://www.unico.com.au'>Unico</a>"
      description = "<p>Led team focused on design and build of small consumer web applications.</p>
      <ul>
        <li>Team resourcing, technical &amp; professional mentorship &amp; performance management</li>
        <li>Development of front-end and design practices &amp; process</li>
      </ul>"
    %}
    {% include resumeitem.html
      date = "2005&mdash;2012"
      role = "Consultant"
      employer = "<a href='https://www.unico.com.au'>Unico</a>"
      description = "<p>Sotware engineering and business consulting for clients including Telstra, Transurban, NAB &amp; Medibank.</p>
      <ul>
        <li>Software development</li>
        <li>Business process and practice consulting</li>
        <li>Interface design and development for the web</li>
      </ul>"
    %}
  </div>
</div>
<div class="container recipe">
  <div class=" ">

  </div>
  <div class="recipe__title">
    <h2>Study</h2>

    {% include resumeitem.html
      date = "2011&mdash;2013"
      role = "Graduate Diploma of Graphic Design"
      employer = "<a href='https://www.rmit.edu.au'>RMIT</a>"
      description = "Melbourne, Victoria"

    %}
    {% include resumeitem.html
      date = "2002&mdash;2004"
      role = "Bachelor of Computer Science"
      employer = "<a href='https://www.adelaide.edu.au'>University of Adelaide</a>"
      description = "Adelaide, South Australia"
    %}
  </div>
</div>
