<footer>
  <section class="container">
    <div class="colspan-2 footer__content">
      <p>
        <a href="mailto:dave@dlimiter.net">Email</a>
        /
        <a href="https://twitter.com/dlimiter">Twitter</a>
        /
        <a href="https://www.instagram.com/dlimiter/">Instagram</a>
        /
        <a href="https://www.linkedin.com/in/dlimiter">LinkedIn</a>
      </p>
    </div>
    <section class="colspan-2">
      <div class="small">
        &copy; Dave Lim 2018
      </div>
    </section>
  </section>
</footer>
