<footer>
  <section class="container recipe">
    <div></div>
    <div class="footer__content">
      <p>
        <a href="mailto:dave@dlimiter.net">Email</a>
        <span class="link-divider">·</span>
        <a href="https://twitter.com/dlimiter">Twitter</a>
        <span class="link-divider">·</span>
        <a href="https://www.instagram.com/dlimiter/">Instagram</a>
        <span class="link-divider">·</span>
        <a href="https://www.linkedin.com/in/dlimiter">LinkedIn</a>
        <span class="link-divider">·</span>
        <small class="nowrap">&copy; 2009–2021</small>
      </p>
    </div>
  </section>
</footer>
