<nav id="nav" role="navigation">
  <a class="nav__toggle" id="nav__close" href="#top">
    <i class="material-icons md-30">
      close
    </i>
  </a>
  <div class="pages">
    {% if include.loc == "/" %}
      <span class="nav__item -active">Home</span>
    {% else %}
      <a href="/" class="nav__item" >Home</a>
    {% endif %}
    {% if include.loc == "/about/" %}
      <span class="nav__item -active">About</span>
    {% else %}
      <a href="/about/" class="nav__item" >About</a>
    {% endif %}
    {% if include.loc == "/recipes/" %}
      <!-- <span class="nav__item -current -active">Recipes</span> -->
    {% else %}

      <!-- <a href="/recipes/" class="nav__item">Recipes</a> -->
    {% endif %}
  </div>
</nav>
