:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  font-size: 18px;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

.placeholder-page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

.site-wrapper {
  //max-width: 1400px;
  margin: 0 auto;
  padding: 4rem;
}

.logo-mark {
  margin-bottom: 4rem;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;

  @media (min-width: 1024px) {
    grid-template-columns: minmax(400px,550px) auto auto;
    justify-content: space-between;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.arrow {
  font-family: 'Inter', sans-serif;
}

.section-content {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 2rem;

  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    // text-decoration: underline;
    //text-decoration-thickness: 0.012rem;
    // text-decoration-thickness: 0.05rem;
    // text-decoration-style: solid;
    // text-underline-offset: 0.25rem;
    background: #ffffff1e;
    position: relative;
    color: #ffffff;
    display: inline-block;
    // transition: text-decoration 0.2s ease;
    transition: background 0.2s ease;

    &::before {
      content: attr(aria-label);
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, #FF6B9D 0%, #C471ED 100%);
      background-clip: text ;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover {
      // text-decoration: none;
      // text-decoration-style: wavy;
      background: transparent;
    }
  }
}

.work-item {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.work-period {
  margin-bottom: 0.25rem;
  //opacity: 0.7;
}

.work-title {
  margin-bottom: 0;
}

.image-container {
  margin-bottom: 2rem;
}

.profile-image {
  width: 100%;
  height: auto;
  display: block;
}

sup { 
  //Correct for the effect vertial-align:super has on the height of the line
  vertical-align: top; position: relative; top: -0.3em; 
}

.text-subtle {
  opacity: .3;
}

.text-small {
  font-size: 0.9rem;
}