:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

.placeholder-page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

.site-wrapper {
  //max-width: 1400px;
  margin: 0 auto;
  padding: 4rem;
}

.logo-mark {
  margin-bottom: 4rem;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;

  @media (min-width: 1024px) {
    grid-template-columns: minmax(0,400px) auto auto;
    justify-content: space-between;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.arrow {
  font-family: 'Inter', sans-serif;
}

.section-content {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;

  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.work-item {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.work-period {
  margin-bottom: 0.25rem;
  //opacity: 0.7;
}

.work-title {
  margin-bottom: 0;
}

.image-container {
  margin-top: 2rem;
}

.profile-image {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  font-family: 'Inconsolata', monospace;
  margin-top: 8rem;
  opacity: .2;
  font-size: .8rem;
}